<aside>
  <section id="back"><%= link_to 'Back', cohort_blockers_path(@cohort.id) %></section>
  <h1>Blockers</h1>


</aside>

<section id="main">


	<section class="small-header module">New Blockers</section> 
	<section class="module">

		<%= render 'form' %>

	</section>
</section>