<aside>
	<header>
		<section id="back"> <%= link_to 'Back', cohorts_path %> </section>
	</header>	
</aside>

<section id="main">
	<h2>Edit Cohort</h2>
	<section class="module">

		<%= render 'form' %>
	</section>

</section>

