<aside>
	<header>
		<section id="back"> <%= link_to 'Back', cohorts_path %> </section>
	</header>
</aside>


<section id="main">

	<h1>New cohort</h1>
	<section class="module">

		<%= render 'form' %>
	</section>
</section>