<section class="half">
<h1> Cohort/Show</h1>
</section>


<section class="half">
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cohort.description %>
</p>


<%= link_to 'Back', root_path %>
</section>