<aside>
	<header>
		<section id="back"> <%= link_to 'Back', comments_path %> </section>
	</header>	

</aside>

<section id="main">

	<h2>Edit Comment</h2>
	<section class="module">
		<%= render 'form' %>
	</section>
</section>
