<aside>
	<section id="back"> <%= link_to 'Back', :back %> </section>
</aside>

<section id="main">

<section class="module small-header">Edit Task</section>


<section class="module">

<%= render 'form' %>

</section>

<p class="footer-text"> </p>

</section>
