<aside>
<h1> </h1>
<p>	</p>
<ul>
<li> </li>
</ul>
<section id="back"> <%= link_to 'Back', unit_path(@task.unit.id) %> </section>
</aside>

<section id="main">

<h2>Edit Task</h2>


<section class="module">

<%= render 'form' %>

</section>


<p class="footer-text"> </p>

</section>
