<section class="full">
 <h1> <%= @task.title%> </h1>
<%= link_to 'Back', :back %>


</section>

<section class="full">
 <h3> Task Description:</h3>
 <p> <%= @task.description %> </p>
 <%= link_to 'Edit', edit_task_path(@task) %> 
</section>
