<section class="full">

<%= link_to 'Edit', edit_task_path(@task) %> 
<%= link_to 'Back', unit_path %>


</section>

<section class="full">
 <h3> Task Description:</h3>
 <p> <%= @task.description %> </p>
</section>
