<section class="full">
<%= link_to 'Back', unit_path %>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Cohort</a></li>
  <li><a href="#">Unit</a></li>
  <li class="active">Tasks</li>
</ol>
 <h1> <%= @task.title%> </h1>
</section>

<section class="full">
 <h3> Task Description:</h3>
 <p> <%= @task.description %> </p>
 <%= link_to 'Edit', edit_task_path(@task) %> 
</section>
