<ul>
<li><%= link_to 'Manage Cohorts', admin_cohorts_path %></li>
<li><%= link_to 'Manage Users', admin_users_path %></li>
<li><%= link_to 'Manage Invites', admin_invites_path %></li>
<li><%= link_to 'Manage Enrollments', admin_enrollments_path %></li>
<li></li>
<li></li>
</ul>