<aside> 
	<header>
	<section id="back"> <li><%= link_to 'Back', users_path %></li> </section>
		<h1></h1>
	</header>
</aside>

<section id="main">

<h2>New User</h2>

<%= render 'form' %>

</section>

