<aside>

<h1> <%= @current_user.first_name %> <%= @current_user.last_name %></h1>
<p>  Username: <%= @current_user.username %> </p>

</aside>


<section id="main">

	<h2> This should render a partial profile </h2>

	<section class="module">

	<%= render partial: 'user', collection: @users %>

	</section>

</section>

