<section class="full">

<h1> <%= @current_user.first_name %>'s Profile</h1>

</section>



<section class="half">

<h3> This should render a partial profile </h3>

<%= render partial: 'user', collection: @users %>

</section>

