<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="profile-cover-photo">
 <img src="http://www.wired.com/wp-content/uploads/2014/06/file-sharing.jpg" style="width:100%;">
</div>

<section id="profile">

 <section id="profile-block">
 </section> 

 <section id="profile-block">

  <h3>About Me</h3>

  <p> As a South Florida native I can decidedly say there is no better place to live and work.

    I recently escaped the publishing world to cultivate my web development skills at Wyncode. </p>
  </section>


  <section id="profile-block">
    <h3>Stats</h3>

    <p><%= line_chart @user.submissions.group(:id).count %></p>
    <!-- @user.submissions.group_by_day(:created_at).count -->
  </section> 

</section>  
