<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Hi!  You've been invited to enroll in school.  Please click to confirm</p>
  </body>
</html>