<div class="pages-background">

<div id="pages">

<h1> GoodMeasure </h1>

<p>GoodMeasure is a learning platform for coding bootcamps.</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/OmFflPr_yVk" frameborder="0" allowfullscreen></iframe>

</div>

</div>
