<aside> 
<section id="back"> <%= link_to 'Back', submissions_path %> </section>
<h1> </h1>
</aside>

<section id="main">

<h2>Editing Submission</h2>

<section class="module">

	<section class="review-buttons">

  <%= button_to "Correct", submission_path(:submission => {
    reviewed: true, correctness: true}), method: :patch %>

  <%= button_to "Incorrect", submission_path(:submission => {
    reviewed: true, correctness: false}), method: :patch %>

    </section>

</section>

</section>
