<aside>
	<section id="back"> <%= link_to 'Back', submissions_path %> </section>
</aside>

<section id="main">

<h2>New Submission</h2>

<section class="module">

<%= render 'form' %>

</section>

</section>