<aside>
	<section id="back"> <%= link_to 'Back', task_path(params[:task_id]) %> </section>
</aside>

<section id="main">

<section class="module small-header">New Submission</section>

<section class="module">

<%= render 'form' %>

</section>

</section>