<%= form_for [:admin, @invite] do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <% @invite.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :email, placeholder: 'email@example.com' %>
  <%= f.submit %> 

<% end %>