<section class="full">
<h1>Pending Students</h1>
</section>




<section class="full">
<% if @invites.size > 0 %>
<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.email %> - <%= link_to 'Cancel Invitation', admin_invite_path(invite), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>

<p>There are currently no pending students.

<% end %>

<br>

<%= link_to 'New User', new_admin_invite_path %>

</section>