<aside> 
	<header> 
		<section id="back"> <%= link_to 'Back', enrollments_path %> </section>
	</header>
</aside>

<section id="main">

<h1>Edit Enrollment</h1>
	<section class="module">
		<%= render 'form' %>
	</section>

</section>
