<aside id="admin-aside"> 
<header> 
  <section id="back"> <%= link_to 'Back', admin_path %> </section>
</header>
</aside>

<section id="main">

 <p class="small-header module"> New Cohort</p>
 
<section class="module">
	
<%= form_for @cohort, url: admin_cohorts_path do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<% end %>
</section>
</section>
