<aside> 
	<section id="back"> <%= link_to 'Back', schools_path %> </section>
</aside>


<section id="main">
	<h2>Edit School</h2>
	<section class="module">
		<%= render 'form' %>
	</section>
</section>
