<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>


<p>This is your Dashboard</p>

<% @current_user.cohorts.each do |cohort| %>
<p><%= link_to cohort.name, cohort_path(cohort) %></p>
<% end %>