<section class="half">

<h1> Welcome to your <%= @school.name %> dashboard </h1>

<p> <%= @school.description %> </p>

</section>

<section class="half">

<h2>You are currently enrolled in:</h2>

<% @current_user.cohorts.each do |cohort| %>
<p><%= link_to cohort.name, cohort_path(cohort) %></p>
<% end %>

</section>