<aside>
<h1> <%= @school.name %> Dashboard </h1>
<p> <%= @school.description %> </p>
</aside>

<section id="main">


	<h2>Cohorts</h2>

<section class="module">
	<% @current_user.cohorts.each do |cohort| %>

	<article class="admin-cohort">

		<h3><%= link_to cohort.name, cohort_path(cohort) %></h3>
		<p><%= cohort.description %></p>

	</article>
	<% end %>
</section>