<section class="full">
<ol class="breadcrumb">
   <li class="active">Home</li>
</ol>
<h1> <%= @school.name %> User Dashboard </h1>

</section>


<section class="half">
<h3> School Description </h3>
<p> <%= @school.description %> </p>
</section>


<section class="half">

<h3>Currently enrolled in: </h3>

<% @current_user.cohorts.each do |cohort| %>
<p><%= link_to cohort.name, cohort_path(cohort) %></p>
<% end %>

</section>