<aside>
	<section id="back"> <%= link_to 'Back', :back %> </section>
</aside>

<section id="main">

	<section class="module small-header">Edit Unit</section>
	<section class="module">
		<%= render 'form' %>
	</section>
</section>