<aside>
<header>
<section id="back"> <%= link_to 'Back', :back %> </section>
<h1> </h1>
<p></p>
</header>
</aside>

<section id="main">
<h2>Edit Unit</h2>
<section class="module">
<%= render 'form' %>
</section>
</section>