<aside>
<section id="back"> <%= link_to 'Back', units_path %> </section>
	<h1></h1>
</aside>

<section id="main">

<p class="small-header"> New Unit</p>
 <section class="module">

<%= render 'form_new' %>
</section>
</section>