$admin-left-panel-color: gray;


#admin-aside {
  background-color: $admin-left-panel-color;
  color: white;
  box-shadow: 3px 0 8px #aaa;
  border-right: 1px solid darken($admin-left-panel-color, 10);
}