// *= require font-awesome
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'top-nav';
@import 'flashes';
@import 'sliding-menu';
@import 'card';
@import 'progress-bar';
@import 'neat-helpers';
$base-font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

body {
  font-family: $base-font-family;
  font-family: $base-font-family;
  @include span-columns(12);
  @include row(table);
}

html, body {
  margin: 0;
  height: 100%;
}

@mixin module($span) {
  @include span-columns($span);
  border-radius: 6px;
  border-bottom: 1px solid darken(white, 10);
  border-left: 1px solid darken(white, 10);
  border-right: 1px solid darken(white, 10);
  border-top: 1px solid darken(white, 5);
  background-color: white;
  border-radius: 2px;
  font-family: $base-font-family;
  font-size: 12px;
}

a { 
    &:link, &:visited {
      color: $left-panel-color;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
  }

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 3rem;
}

h2 {
  margin-top: 30px;
  font-size: 2rem;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  font-size: 1rem;
}

p {
  padding-left: 10px;
  color: $base-font-color;
}

.module {
  @include shift(1);
  @include span-columns(10);
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
}

.cover-photo {
  height: 250px;
  overflow: hidden;
  img {
    margin-top: -200px;
  }
}

.cohort-unit {
}

.admin-cohort {
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
   &:last-child {
    border-bottom: none;
   }
}
.cohort-unit {
  @include span-columns(5);
  @include omega(2n);
  display: inline-block;
  padding: 20px;
  height: 300px;
  vertical-align: top;
 }

.main-article {
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
   &:last-child {
    border-bottom: none;
   }
}

.review-buttons {

  text-align: center;
}

.footer-text {

 font-size: .8rem;
 font-style: italic;
 color: lighten($base-font-color, 20)

}

.avatar img {
  border-radius: 50%;
}
.small-avatar {
  width: 100px;
  height: 100px;
}

.avatar-large {
  height: 200px;
  width: 200px;
  margin: -100px auto 0;
}

.admin {
  background-color: lighten(red, 35);
}

.user {
  text-align: center;
}

aside {
  @include span-columns(4);
  @include pad();
  padding: 4%;
  position: fixed;
  height: 100%;
  color: white;
  background-color: $left-panel-color;
  line-height: 1.5;

  p {
    color: white;
      font-size: .9rem;
  }

  a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
    }

ul a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
  }
}

#main {
  @include span-columns(8);
  @include reset-display;
  height: 100%;
  display: inline-block;
  float: right;
  background-color: white;
  line-height: 1.5;
  h1, h2, h3, h4, h5, h6 {
  color: $left-panel-color;
  }
 }

 #profile {
  @include span-columns(12);
  margin: auto;
  @include reset-display;
  height: 100%;
  display: inline-block;
  background-color: white;
  line-height: 1.5;
  h1, h2, h3, h4, h5, h6 {
  color: $left-panel-color;
  }
 }

.topic-list-item:hover {
  background: #eee;
}

#footer {
  background-color: #fdfdfd;
  border-top: 1px solid #ddd;
  clear: both;
  color: #999;
  font-size: 12px;
  height: auto;
  line-height: 20px;
  min-width: 970px;
  position: relative;
  z-index: 10;
}

#enrollment {
  margin-top: 20px;
  text-align: center;
}

#enrolled-users {
   width: 90%;
   text-align: center;
   margin-left: 20px;
}

#users {
  @include span-columns(3);
  @include omega(4n);
  text-align: center;

}

#user-partial {
  text-align: center;
}

#back {
  margin-top: 20px;

  a { 

    padding: 10px; 
    border: 1px solid transparent;
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: lighten ($left-panel-color, 10);
      border: 1px solid white;
    }
    &:active {
    }
    }
}

.invite {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #3b414e;
  width: 450px;
  text-align: center;
  margin: 10px;
}

.Sign_Form {
  margin-top: 60px;
  margin-left: 260px;
}

.submitted-answer {
  border-color: $left-panel-color;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
}

.next-previous {
    margin-top: 100px;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background: lighten($left-panel-color,5);

  a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
    }

ul a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
  }
}

.small-header {
  margin-top: 80px;
  color: #999;
  text-transform: uppercase;
  font: 10px, 'Proxima Nova',sans-serif;
  border-bottom: 1px solid #999;
  @include shift(1)
}

.aside-buttons {
  padding: 5px;

  a { 

    padding: 10px; 
     border: 1px solid transparent;
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: lighten ($left-panel-color, 10);
      border: 1px solid white;
    }
    &:active {
    }
    }

ul a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: lighten ($left-panel-color, 10);
      border: 1px solid white;

    }
    &:active {
    }
  }

}

// Full-width image for profile pages
.profile-cover-photo {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image-gradient {
  $image-gradient-color-top: teal; 
  $transparency-top: .6;
  $image-gradient-color-bottom: green; 
  $transparency-bottom: .6;
  $vertical-angle: 180deg;

  $image-gradient-color-left: red; 
  $transparency-left: .9;
  $image-gradient-color-right: yellow; 
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  background: url(https://pbs.twimg.com/media/BmwsSaDIYAAiLop.jpg);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  padding: 12em 0 12em 0;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: $base-line-height;

  .copy {
    position: absolute;
    left: 50%;
    margin: auto;
    z-index: 999;
    top: 40%;
    text-align: center;

    p {
      padding: 1em 2em;
      position: relative;
      left: -50%;
      color: white;
      font-weight: 800;
      background-color: transparentize(black, .6);
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}















