// *= require font-awesome
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'top-nav';
@import 'flashes';
@import 'sliding-menu';
@import 'card';
@import 'progress-bar';

$main-color: #FFFFFF;

body {
	font-family: $helvetica;
	background-color: $main-color;
}