// *= require font-awesome
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'top-nav';
@import 'flashes';
@import 'sliding-menu';
@import 'card';
@import 'progress-bar';
@import 'neat-helpers';
@import 'submissions';
@import 'profiles';
$base-font-family: "Roboto", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

body {
  font-family: $base-font-family;
  font-family: $base-font-family;
  @include span-columns(12);
  @include row(table);
}

html, body {
  margin: 0;
  height: 100%;
}

a { 
    &:link, &:visited {
      color: $left-panel-color;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
  }

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

h2 {
  margin-top: 30px;
  font-size: 2rem;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  font-size: 1rem;
}

p {
  padding-left: 10px;
  color: $base-font-color;
}

.module {
  @include shift(1);
  @include span-columns(10);
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
}


.cover-photo {
  height: 250px;
  overflow: hidden;
  img {
    margin-top: -200px;
  }
}

.admin-cohort {
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
   &:last-child {
    border-bottom: none;
   }
}
.cohort-unit {
  @include span-columns(5);
  @include shift(0.5);
  @include omega(2n);
  @include row();
  display: inline-block;
  padding: 15px 0;
  vertical-align: top;
  & > div {
    padding: 20px;
    font-size: .75rem;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 8px #bbb;
    &:hover {
      background-color: lighten($left-panel-color, 40);
    }
    h3 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
  }
 }

.main-article {
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
   &:last-child {
    border-bottom: none;
   }
}

.review-buttons {

  text-align: center;
}

.footer-text {
 font-size: .8rem;
 font-style: italic;
 color: lighten($base-font-color, 20);
 // float: right;
}

.left {
  float: left;
}

.avatar img {
  border-radius: 50%;
  border-bottom: 2px solid $left-panel-color;
}
.small-avatar {
  width: 50px;
  height: 50px;
}

.avatar-large {
  height: 180px;
  width: 180px;
  margin: -100px auto 0;
}

.admin {
  background-color: lighten(red, 35);
}

.user {
  text-align: center;
}

aside {
  @include span-columns(4);
  @include pad();
  padding: 85px 20px 20px;
  position: fixed;
  overflow: scroll;
  height: 100%;
  color: white;
  background-color: $left-panel-color;
  line-height: 1.5;
  box-shadow: 3px 0 8px #aaa;
  border-right: 1px solid darken($left-panel-color, 10);
  p {
    color: white;
      font-size: .9rem;
  }

  a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
    }

ul a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
  }
}

#main {
  @include span-columns(8);
  @include reset-display;
  display: inline-block;
  float: right;
  background-color: white;
  line-height: 1.5;
  h1, h2, h3, h4, h5, h6 {
  color: $left-panel-color;
  }
  margin-top: 80px;
 }

 #profile {
  @include span-columns(8);
  @include shift(2);
  height: 100%;
  display: inline-block;
  background-color: white;
  line-height: 1.5;
  h2 {
    color: $left-panel-color;
  }

  h3 {
    text-align: center;
  } 
  }

 #profile-block {
    @include span-columns(6);
    margin-top: 25px;
    border: 2px solid $left-panel-color;
    padding: 10px;
    height: 200px;

 } 
 

.topic-list-item:hover {
  background: #eee;
}

#footer {
  background-color: #fdfdfd;
  border-top: 1px solid #ddd;
  clear: both;
  color: #999;
  font-size: 12px;
  height: auto;
  line-height: 20px;
  min-width: 970px;
  position: relative;
  z-index: 10;
}

#enrollment {
  margin-top: 20px;
  text-align: center;
}

#enrolled-users {
   width: 90%;
   text-align: center;
   margin-left: 20px;
}

#users {
  @include span-columns(3);
  @include omega(4n);
  text-align: center;

}
#user-partial {
  text-align: center;
}

#back {
  margin-top: 20px;

  a { 

    padding: 10px; 
    border: 1px solid transparent;
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: lighten($left-panel-color, 10);
      // WALTER: I removed the white border.  Leaving comment in case there is a merge conflict.
    }
    &:active {
    }
    }
}

.invite {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #3b414e;
  width: 450px;
  text-align: center;
  margin: 10px;
}


.next-previous {
    margin-top: 100px;
    color: white;
    font-size: 1rem;
    // border: 1px solid white;
    padding: 10px;
    text-align: center;
    background: lighten($left-panel-color, 10);

  a {
    font-weight: normal;
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
    }

ul a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: darken($left-panel-color, 25)
    }
    &:active {
    }
  }
}

.small-header {
  color: #999;
  text-transform: uppercase;
  font-size: .75rem;
  border-bottom: 1px solid $left-panel-color;
  color: $left-panel-color;
}

.aside-buttons {
  padding: 5px;

  a { 

    padding: 10px; 
     border: 1px solid transparent;
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: lighten($left-panel-color, 10);
      // WALTER: Removed border here too. PS Julie/Bryan- lighten doesn't work with a space. lighten() not lighten ()
    }
    &:active {
    }
    }

ul a {
    
    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: lighten($left-panel-color, 10);
      // WALTER: Removed border here too.

    }
    &:active {
    }
  }

}

.pending-reviewed {
  color: $left-panel-color;
  text-transform: uppercase;
  font: 10px, 'Proxima Nova',sans-serif;
  border-bottom: 1px solid $left-panel-color;

}

// Full-width image for profile pages
.profile-cover-photo {
  width: 100%;
  height: 300px;
  overflow: hidden;
}


.completed-task {
  background-color: lighten($left-panel-color, 40);
  // border: 1px solid $left-panel-color;
  color: $left-panel-color;
  text-align: center;
  padding: 3px;
  font-size: .75em;
}
.submission-list {
  padding: 5px;
  &:nth-child(2n) {
    background-color: lighten($left-panel-color, 50);
  }
  &:hover {
    background-color: lighten($left-panel-color, 40);
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.progress-bar {
  width: 100%;
  height: 30px;
  border: 1px solid $left-panel-color;
  background-color: lighten($left-panel-color, 40);
}

.current-progress {
  background-color: $left-panel-color;
  height: 100%;
  display: block;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  padding-top: 3px;
}

article {
  // Probably gonna delete this...
  border-radius: 5px;
}

.splash {
@include span-columns(8);
margin-top: -60px;
background-image: url('http://www.wired.com/wp-content/uploads/2014/06/fcc-broadband-inline.jpg');
background-color: white;
width: 100%;
height: 765px;
}

.Sign_Form {
  margin-top: 180px;
  margin-left: 820px;
  width: 30%;
  background-color: $dark-gray;
  padding: 1px;

  h1,h2,h3,h4,h5,h6,p {
    color: white;
  }
}


