// Full-width image for profile pages
.profile-cover-photo {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

 #profile {
  @include span-columns(8);
  @include shift(2);
  height: 100%;
  display: inline-block;
  background-color: white;
  line-height: 1.5;
  h2 {
    color: $left-panel-color;
  }

  h3 {
    text-align: center;
  } 
  }

 #profile-block {
    @include span-columns(6);
    margin-top: 25px;
    border: 2px solid $left-panel-color;
    padding: 10px;
    height: 200px;

 } 

.avatar-large {
  height: 170px;
  width: 170px;
  margin: -100px auto 0;
}

.avatar img {
  border-radius: 50%;
  border-bottom: 2px solid $left-panel-color;
}