<section class="half">

<h1>Editing user</h1>

 <%= form_for @user, url: admin_user_path(@user) do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<% end %>

<%= link_to 'Delete This User', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', admin_users_path %>

</section>
