<section class="full">
<ol class="breadcrumb">
  <li><a href="#">Admin Dashboard</a></li>
   <li><a href="#">Cohorts</a></li>
  <li class="active">User Profile</li>
</ol>
<%= render partial: 'user' %>

</section>

