<aside>
	<h1></h1>
	<%= render partial: 'admin/enrollments/form' if @school.has_cohorts_not_in? @user %>
</aside>

<section id="main">
	<section class="module">
		<%= render partial: 'user' %>
	</section>
</section>