<h1>Editing enrollment</h1>

<%= form_for @enrollment, url: admin_enrollment_path(@enrollment) do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<% end %>

<%= link_to 'Show', @enrollment %> |
<%= link_to 'Back', admin_enrollments_path %>
